@tailwind base;
@tailwind components;
@tailwind utilities;


#optionsContainer label{
    @apply relative;
}
#optionsContainer label input {
    @apply opacity-0 absolute inset-0;
}
#optionsContainer label input + span{
    @apply cursor-pointer relative block pl-6 m-0 dark:text-gray-200;
}
#optionsContainer label input + span::before{
    @apply content-[""] h-5 w-5 absolute inset-y-0 left-0 rounded border border-gray-300 transition-colors hover:bg-blue-100 hover:border-blue-300;
    @apply dark:border-gray-700 dark:hover:border-white/25 dark:hover:bg-white/25 dark:hover:text-gray-200;
}
#optionsContainer label input:checked + span::before{
    @apply bg-blue-600 border-blue-600;
    @apply dark:bg-white dark:border-white;
}

#optionsContainer label input:checked + span::after{
    /* checkmark */
    @apply content-["\2713"] absolute top-0 left-0 h-5 w-5 text-white text-xs scale-x-125 flex items-center justify-center;
    @apply dark:text-gray-900;
}


.input-wrapper, .output-wrapper {
  @apply relative;
}
.line-wrapper {
  @apply relative;
}

.input-lines, .output-lines {
  @apply absolute top-0 left-0 px-1 text-right select-none pointer-events-none overflow-hidden;
  @apply bg-gray-100 dark:bg-gray-900;
}

.input-lines div,
.output-lines div {
  @apply leading-5 font-mono text-gray-500 text-xs pl-2 pr-1.5 dark:text-gray-200 text-right;
}

.input-wrapper textarea,
.output-wrapper pre {
  @apply leading-6 font-mono pl-10;
  white-space: pre;
}

.input-lines,
.output-lines,
#inputCode,
#outputCode{
    @apply h-[calc(100vh-140px)] overflow-auto;
    @apply leading-6 font-mono text-xs;
}
.input-lines,
.output-lines{
    @apply overflow-hidden;
    
}
#inputCode,
#outputCode{
    @apply w-full  font-mono text-sm focus:border-transparent  dark:bg-gray-800 dark:text-gray-100 outline-none;
    @apply pl-12 resize-none;
        overflow: auto;
    white-space: pre;
}

.line-wrapper{
@apply border border-gray-300 dark:border-gray-700 dark:bg-gray-100;
line-height: 0;
}

/* 

 */